// Place all the styles related to the Financeapp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.table_container {
  display: table; }
.cell {
  display: table-cell;
  border: 1px solid #809e9c;
  padding: 10px 30px;
  width: 100%;
  background: #fff; }
.gutter {
  display: table-cell;
  width: 30px; }*/


body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 50px;
}

p {
  padding: 0px;
  margin: 0px;
}

.nav-up {
  top: -60px;
}

header {
  background: #f5b335;
  height: 60px;
  position: fixed;
  top: 46px;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.content {
  height: 100%;
  color: #fff;
  padding: 20px 20px 10px;
}

.colour-1 {
  background-color: #F1F1F2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #636a71;
}

.app-admin-header {
  background-color: #636a71;
  color: #ffffff;
  height: 46px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner {
  height: 400px;
  background-color: #333333;
  margin-top: 106px;
}

.panel-header {
  .summary-title {
    padding-top: 6rem;
    margin: 0;
    padding-bottom: 1rem;
  }
  h2 {
    font-size: 25px;
    font-weight: 300;
    color: rgb(88, 88, 91);
    font-family: 'Open Sans', sans-serif;
    line-height: 31px;
    margin: 0;
    padding: 0;
  }
}

.summary-panels {
  margin: 1rem 0 7rem;
  padding: 2rem 0.5rem 2rem 0;
  background-color: #F1F1F2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  height: 415px;
}

